<input type="hidden" name="type" value="part" />
<label for="image">Image</label>
<input type="file" name="image" id="image" />
<label for="brand">Brand</label>
<input type="text" name="brand" />
<label for="model">Model</label>
<input type="text" name="model" />
<label for="price">Price ($)</label>
<input type="number" name="price" />
<label for="quantity">Quantity</label>
<input type="number" name="quantity" />
<label for="subcategory">Parent subcategory</label>
<select name="subcategory" id="subcategory">
  <% if(subcategoryObj!==undefined){%>
  <option value="<%=subcategoryObj.id%>"><%=subcategoryObj.name%></option>
  <% } else if(subcategories!==undefined){%>
  <%subcategories.forEach(singleSubcategory=>{%>
  <option value="<%=singleSubcategory.id%>"><%=singleSubcategory.name%></option>
  <%})%> <%}%>
</select>
