<section class="form__modal">
  <form action="/submit?<%= type %>" method="post">
    <%- include('./forms/'+typeForm+'.ejs') %>
    <button type="submit" class="submit__btn">Submit</button>
  </form>
</section>
