* {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

nav {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 0 auto;
  font-size: 1.3rem;
}

footer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 1.3rem;
}

img {
  width: 100px;
  aspect-ratio: 1/1;
  object-fit: fill;
}
.form__modal { /* *IT'S TEMPORARY CSS FOR FORM MODAL !ONLY FOR development PHASE! */
  background-color: rgb(228, 244, 255);
  border: 2px solid rgb(243, 243, 243);
  border-radius: 1rem;
  margin: 0 auto;
  aspect-ratio: 1/1;
  width: 500px;
  padding: 1rem;
  input {
    width: 100%
    padding: 1rem;
  }
  form{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0.25rem;
    gap: 0.5rem;
  }
}
