<section class="edit__form__modal">
  <form action="<%=toEdit%>/edit/<%=Id%>" method="post">
    <%- include('./'+typeEditForm+'.ejs') %>
    <button type="submit" class="submit__btn">Submit</button>
  </form>
</section>
